<h3>Your daily recommendations</h3>

<p><strong>Employees who you haven't interacted with recently:</strong></p>

<p><strong>Upcoming birthdays:</strong></p>

<p><strong>Upcoming work anniversaries</strong></p>
